import {Global as G} from "system/global";
import {DataManager} from "system/data/DataManager";
import {ProtocolUtil} from "system/protocol/ProtocolUtil";
import {Macros} from "system/protocol/Macros";
import {EventDispatcher} from "system/EventDispatcher";
import {Events} from "system/Events";
import {ErrorId} from "system/protocol/ErrorId";

/**
 * %ModuleChName%(Generate by CodeRobot)
 */
export class %ModuleName% extends EventDispatcher {

    constructor() {
        super();
    }    
}