<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppId</key>
	<string>20091</string>
	<key>ChannelId</key>
	<string>1012</string>
	<key>AppInfo</key>
	<string>673172&amp;yjffIOS_appstore_0001</string>
</dict>
</plist>
